html, body {
	height: 100%;
}
body {
	min-height: 700px;
}
.wrapper, aside, .content {
	height: 100%;
}
.main-sidebar, .left-side {
	padding-top: 0;
	width: 220px;
}
.content-wrapper, .right-side, .main-footer {
	margin-left: 220px;
}
.left-nav-custom {
}
.right-content-custom {
	background: #fff;
}
.nav.nav-pills.nav-stacked.nav-custom1 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #3c8dbc;  /*#f39412*/
}
.nav.nav-pills.nav-stacked.nav-custom2 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #dd4b39;  /*#f39412*/
}
.nav.nav-pills.nav-stacked.nav-custom3 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #f39412;
}

.nav.nav-pills.nav-stacked.nav-custom4 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #3c8dbc;  /*#f39412*/
}

.nav.nav-pills.nav-stacked.nav-custom5 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: green;  /*#f39412*/
}

.nav.nav-pills.nav-stacked.nav-custom6 > li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #39CCCC;  /*#f39412*/
}
.nav.nav-pills.nav-stacked> li.active > a, .nav.nav-pills.nav-stacked > li.active > a:hover {
	border-left-color: #c0c0c0;
}


.sidebar {
	padding-bottom: 0;
}
.narbar{
	line-height:20px;
}
.navbar-default{
	line-height:20px;
}

/* -------- userIndex start -------- */
.custom-bg {
	position: relative;
	margin-top: -20px;
	width: 100%;
	padding-bottom: 40%;
	background: url(/KKBank/images/bg.jpg) no-repeat;
	background-size: 100%;
}
.custom-bg div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: 150px;
	margin-top: -30px;
	color: #fff;
}
.custom-bg h1 {
	font-size: 400%;
}
.intro-wrap .row {
	margin: -70px auto 0;
	padding: 0px;
	
	box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	font-size:20px;
	color:white;
	line-height:70px;
}
.intro-wrap ul {
	position：relative;
	padding: 0;
}
.intro-wrap li {
	position: relative;
	padding: 0;
	height: 100px;
	list-style: none;
	background: #696969;
}
.intro-wrap div {
	margin-left: 100px;
	text-align: center;
	background-image: -webkit-radial-gradient(#524436, #1a1205);
  	background-image: radial-gradient(#524436, #1a1205);
	
}
.intro-wrap p {
	line-height: 100px;
}
.intro-wrap img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
}
.intro-container, .desc-container {
	max-width: 1024px;
	margin: 30px auto;
	padding: 0 15px;
}
.desc-container {
	padding: 0 30px;
}
.custom-tag {
	font-family:Microsoft YaHei;
	position: relative;
	/*text-align: center;*/
	font-size: 150%;
	/*font-weight: bold;*/
	color: #b2b2b2;
	padding:15px;
	
}
.custom-tag1 {
	height: 250px;
	/*line-height: 200x;*/
	/*background: #f60;*/
	
}
.custom-tag2 {
	height: 150px;
	/*line-height: 150px;*/
	/*background: #6cf;*/
	
}
.custom-tag3 {
	height: 150px;
	/*line-height: 150px;*/
	/*background: #f00;*/
}
.custom-tag4 {
	height: 350px;
	/*line-height: 350px;*/
	/*background: #0f0;*/
}

.custom-tag1::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 95%;
	height: 2px;
	background: #ccc
}
.custom-tag2::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -68px;
	height: 370px;
	width: 2px;
	background: #ccc;
}
.custom-tag4::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -158px;
	height: 500px;
	width: 2px;
	background: #ccc
}

@media (max-width: 775px) {
	.custom-bg div {
		display: none;
	}
	.intro-wrap .row {
		margin-top: 10px;
		box-shadow: none;
	}
	.intro-wrap ul {
		background-color: transparent;
		border: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.intro-wrap li:child(2) {
		border-radiu: 3px 3px 0 0;
	}
	.intro-wrap li:last {
		border-radiu: 0 0 3px 3px;
	}
	.intro-wrap li {
	    position: relative;
	    display: block;
	    margin-bottom: 5px;
	    height: auto;
	    font-size: 14px;
	    background-color: #fff;
	    border: 1px solid #ddd;
	}
	.intro-wrap div {
		margin-left: 0;
	}
	.intro-wrap p {
		margin-bottom: 0;
		line-height: 40px;
		text-indent: 0;
	}
	.intro-wrap img {
		display: none;
	}
	.intro-container {
		margin-top: 10px;
	}
}
/* -------- userIndex end -------- */

.alert-custom{
	padding: 7px;
	margin-bottom: 20px;
	border: 1px solid transparent;
  	border-radius: 4px;
  	color: #a94442;
  	background-color: #f2dede;
 	 border-color: #ebccd1;
}
.info-custom{
	padding:7px;
	color:#3c8dbc;
	border: 1px solid transparent;
  	border-radius: 4px;
    border-color: #B0C4DE;
}
.center-side .content {
	background: #fff;
}
.box.box-teal {
  border-top-color: #39CCCC;
}
.box.box-grey {
  border-top-color: grey;
}
/*
.btn.btn-danger {
  background-color: #dd4b39;border-color:#dd4b39;
}*/
/*
.underline-custom{
	a:hover{
		text-decoration:underline;
		color:black;
	}*/
.table-striped2 > tbody > tr:nth-of-type(odd) {
  background-color:#fcf8e3;
}
.table-striped3 > tbody > tr:nth-of-type(odd) {
  background-color:#fbecea;
}
.table-striped4 > tbody > tr:nth-of-type(odd) {
  background-color:#eaf9f9;
}
}